@import 'variable';


a{
  text-decoration: none!important;
}

image{
  width: 100%;
  height: auto;
}

header{
  .nav-header{
    position: absolute;
    z-index: 2;
    padding: 0 15px;
    width: 100%;
    height: 90px;
    transition: 0.3s ease-in-out;
    .left-header{
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          display: flex;
          align-items: center;
          position: relative;
          padding: 0px 10px 0px 0px;
          margin: 0px 5px 0px 15px;
          height: 100%;
          &:first-child{
            margin-left: 0;
          }
          a{
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #333;
            text-transform: uppercase;
            padding: 5px 0px;
            -webkit-transition: all 0.4s;
            &:hover{
              color: $color1;
            }
          }
        }
      }

    }
    .center-header{
      width: 100%;
      a{
        height: 100%;
       img{
         position: absolute;
         max-height: 68%;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: auto;
         transition: 0.3s ease-in-out;

       }
      }
    }

    .right-header{
      height: 100%;
      .nav-search{
        cursor: pointer;
      }
      .nav-cart{
        cursor: pointer;
        padding-left: 1.5rem;
      }
    }
  }
}

section{
  .bg-intro{
    .bg{
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      visibility: inherit;
    }
  }
}


.site{
  text-align: center;
  padding-bottom: 90px;
  .welcome-title{
    position: relative;
    .bg-wel{
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $color1;
    }
  }
  h3{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 35px;
  }
}


.pic-welcome{
  position: relative;
  .one {
    position: absolute;
    top: 25%;
    width: 22%;
  }
  .two{
    position: absolute;
    top: 0;
    left: 25%;
    width: 22%;
  }
  .three{
    position: absolute;
    top: 0;
    left: 50%;
    width: 22%;
  }
  .four{
    position: absolute;
    top: 25%;
    right: 0;
    width: 22%;
  }
}

.item-welcome-pic {
  display: flex;
  justify-content: center;
  .item-pic-hover {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

  }

  &:hover .item-pic-hover {
    visibility: visible;
    opacity: 1;
  }

  &:hover .item-pic-default {
    visibility: hidden;
    opacity: 0;
  }
}

.item-welcome-txt {
  h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }
  p{
    color: $color2;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    padding: 0;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

.nav-animation-active{
  background-color: white;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
}
.nav-animation-deactive{
  transition: 0.3s ease-in-out;
}

